@font-face {
    font-family: 'Poppins Medium';
    src: url('../fonts/poppins-medium.ttf');
}

@font-face {
    font-family: 'Poppins Bold';
    src: url('../fonts/poppins-bold.ttf');
}

* {
}

.root {
    -fx-secondary-color-bg: #333333;

    -fx-primary-color-txt: #DCDCDC;
    -fx-secondary-color-txt: #A3FF00;

    -fx-in-progress-color-txt: #ffcc00;

    -fx-grey-80: #333333;
    -fx-grey-70: #4c4c4c;
    -fx-grey-60: #676767;
    -fx-grey-55: #777777;
    -fx-grey-40: #999999;
    -fx-grey-30: #B2B2B2;
    -fx-grey-25: #bfbfbf;
    -fx-grey-20: #cccccc;

    -fx-blue-color: #0099cc;
}

.progress-bar .track {
    -fx-margin: 0;
    -fx-padding: 0;
    -fx-border: none;
    -fx-background-color: -fx-grey-70;
    -fx-background-radius: 0;
}

.progress-bar .bar {
    -fx-pref-height: 16px;
    -fx-margin: 0;
    -fx-padding: 0;
    -fx-border: none;
    -fx-background-color: linear-gradient(to right, -fx-in-progress-color-txt, -fx-secondary-color-txt);
}

#loaderPane {
    -fx-padding: 10px 18px 14px 16px;
    -fx-spacing: 4px;
    -fx-font-family: 'Poppins Medium';
    -fx-background-color: -fx-secondary-color-bg;
}

#loaderPane .label {
    -fx-text-fill: -fx-primary-color-txt;
}

#loaderPane .in-progress .label {
    -fx-text-fill: -fx-in-progress-color-txt;
}

#Main-Counter .completed .label,
#loaderPane .completed .label {
    -fx-text-fill: -fx-secondary-color-txt;
}

#loaderPane #Main-Counter .title {
    -fx-text-fill: -fx-primary-color-txt;
}

#loaderPane .sub-counter .title,
#loaderPane .sub-counter .label.separator {
    -fx-text-fill: -fx-grey-25;
}

#loaderPane .label.separator {
    -fx-text-fill: -fx-primary-color-txt;
}

#loaderPane .title {
    -fx-min-width: 224px;
    -fx-pref-width: 224px;
    -fx-max-width: 224px;
    -fx-padding: 0 8px 0 0;
    -fx-alignment: CENTER_RIGHT;
}

#loaderPane .number {
    -fx-text-fill: -fx-blue-color;
}

#Main-Counter,
#Main-Counter .label {
    -fx-min-height: 24px;
    -fx-pref-height: 24px;
    -fx-max-height: 24px;
}

#Main-Counter .label {
    -fx-font-family: 'Poppins Bold' !important;
    -fx-font-size: 14px;
    -fx-text-fill: #efefef;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 0.2, 0.2, 1, 1);

    /*-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 1, 0.5, 1, 1);*/
}

#Main-Counter .number {
    -fx-min-width: 63px;
    -fx-pref-width: 63px;
    -fx-max-width: 63px;
    -fx-effect: none !important;
}

#Main-Counter .number.ended {
    -fx-padding: 0 8px 0 0;
    -fx-alignment: CENTER_RIGHT;
}

#Main-Counter .number.total {
    -fx-padding: 0 0 0 8px;
}

#loaderPane .sub-counter,
#loaderPane .sub-counter .label {
    -fx-min-height: 20px;
    -fx-pref-height: 20px;
    -fx-max-height: 20px;
}

#loaderPane .sub-counter .label {
    -fx-font-size: 12px;
}

#loaderPane .sub-counter .number {
}

#loaderPane .sub-counter .number.ended {
    -fx-min-width: 22px;
    -fx-pref-width: 22px;
    -fx-max-width: 22px;
    -fx-alignment: CENTER_RIGHT;
}

#loaderPane .sub-counter .number.total {
    -fx-min-width: 34px;
    -fx-pref-width: 34px;
    -fx-max-width: 34px;
    -fx-padding: 0 8px 0 0;
}