<configuration>

    <!-- Définir le niveau de log global sur ERROR pour n'afficher que les erreurs -->
    <root level="ERROR">
        <appender-ref ref="STDOUT"/>
    </root>

    <!-- Appender pour afficher les logs dans la console -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} - %msg%n</pattern>
        </encoder>
    </appender>

</configuration>